


.bodySyle {
  background-image: url "theBar.jpg";

}

#container { 
  width: 780px; 
  background: #FFFFFF;
  margin: 0 auto; 
  border: 3px solid #000000;
  text-align: center; 
}

h1 {
  text-align: center;
  width: 780px;
  
